.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    text-align: center;
    padding-left: 650px;
    padding-top:60px;
}
.input{  
    height: 550px;
    width: 600px;
    background-color: blueviolet;
    margin: 20px;
}
body{
    background-color: black;
}
.fill{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.name{
    padding: 20px;
    width: 200px;
    height: 7px;
}
.height{
    padding: 20px;
    width: 200px;
    height: 7px;
}
.weight{
    padding: 20px;
    width: 200px;
    height: 7px;
}
.age{
    padding: 20px;
    width: 200px;
    height: 7px;
}

b{
    font-size: 30px;
    padding-right:30px;
}
.cal{
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    height: 60px;
    width: 200px;
}
.result{
    background-color: bisque;
    height: 200px;
    width: 600px;
    padding-left: 20px;
    margin-top: 20px;
}